.map{
	width: 500px;
	height: 500px;
}

.asideBtns button{
    border: none;
    background: none;
    color: var(--font-color);
    width: 100%;
    height: 150px;
    cursor: pointer;
}

.asideBtns button>i{
    font-size: 50px;
    padding: 10px;
}

.asideBtns{
    background: var(--main-color);
    width: 100px;
}

.ol-tooltip-measure{
    color: #222;
    font-weight: 700;
    font-size: 15px;
}