.align-right{
    margin-left: auto;
}

.map_area{
    width: 100%;
    height: 100%;
}
.map{
	width: 100%;
	height: 100%;
}

.asideBtns{
    background: var(--main-color);
    width: 100px;
    height: 100%;
    padding-left: 0px;
}

.asideBtns button{
    border: none;
    background: none;
    color: var(--font-color);
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.asideBtns button>i{
    font-size: 50px;
    padding: 10px;
}

.aside-area{
    height: 100%;
    position: absolute;
    left: 100px;
    top: 110px;
    z-index: 5;
}

.aside{
    padding: 10px;
    background: #fff;
    height: 100%;
}
.aside_content{
    width: 100%;
    height: 100%;
}

.angleBtn{
    background: #fff;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    width: 15px;
    height: 50px;
    text-align: center;
    padding: 0px;
}

.searchInp{
    width: 140px;
    height: 20px;
}

.searchBtn{
    width: 20px;
    height: 20px;
    padding: 0px;
}

.map_btns{
    background: none;
    position: absolute;
    right: 10px;
    top: 120px;
    z-index: 5;
}
.map_btns button{
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #222;
    border-radius: 3px;
}

.map_btns button.on{
    background: #5462A6;
    color: #fff;
}



