<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
<!--    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
    <title>
        <th:block th:if="${pageTitle != null}" th:text="${pageTitle + ' -
        '}"></th:block> <th:block th:text="#{한강수자원관리플랫폼}"></th:block>
    </title>

    <link rel="stylesheet" type="text/css" th:href="@{/common/css/popup_style.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:each="cssFile : ${addCommonCss}"
            th:href="@{/common/css/{file}.css(file=${cssFile})}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/front/css/popup_style.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/front/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:each="cssFile : ${addCss}"
            th:href="@{/front/css/{file}.css(file=${cssFile})}"
    />

    <th:block layout:fragment="addCss"></th:block>

    <script th:src="@{/common/js/common.js}"></script>
    <script
            th:each="jsFile : ${addCommonScript}"
            th:src="@{/common/js/{file}.js(file=${jsFile})}"
    ></script>

    <script th:src="@{/front/js/common.js}"></script>
    <script
            th:each="jsFile : ${addScript}"
            th:src="@{/front/js/{file}.js(file=${jsFile})}"
    ></script>

    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
<header class="flex align-center head">
    <div class="title">
        <h2 th:if="${pageTitle != null}" th:text="${pageTitle}"></h2>
    </div>
    <button type="button" class="popup_close">
        <i class="xi-close"></i>
    </button>
</header>
<main layout:fragment="content"></main>
<iframe name="ifrmProcess" class="dn"></iframe>
</body>
</html>
