<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" >
    <form th:action="@{/dashboard/} + ${type}" method="get" th:object="${observatorySearch}" id="searchFrm" name="searchFrm" class="no-print">
        <div class="search">
            <div class="flex align-center searchTxt">
                <div class="flex align-center">
                    <div class="searchIcon"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <div th:text="검색"></div>
                </div>
                <div class="flex align-center searchClose">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <div th:text="닫기"></div>
                </div>
            </div>
            <div class="bdr-top searchEl">
                <label for="obscd">관측소 코드 </label>
                <input type="hidden" name="type" id="type" th:field="*{type}">
                <input type="text" class="onlyNum" id="obscd" name="obscd" th:field="*{obscd}" placeholder="xxxxxxx" data-form="searchFrm">
                <label for="obsnm">관측소명</label>
                <input type="text" id="obsnm" name="obsnm" th:field="*{obsnm}" placeholder="관측소 명을 입력하세요">
                <button type="submit" class="searchBtn">검색</button>
            </div>
        </div>
        <div class="flex radio">
            <div class="grw-1">
                <input type="radio" name="select" id="month" value="MONTH" checked>
                <label for="month">월단위별</label>
                <input type="radio" name="select" id="year" value="YEAR">
                <label for="year">연단위별</label>
            </div>
            <button class="saveBtn"><i class="fa fa-download" aria-hidden="true"></i><th:block th:text="저장"></th:block></button>
        </div>
    </form>



    <div class="flex just-btw">
        <div class="chart"></div>

        <div class="dashList">

            <h2 th:if="*{type == 'rf'}"  th:text="#{강수량표}"></h2>
            <h2 th:if="*{type == 'wl'}" th:text="#{수위표}"></h2>
            <h2 th:if="*{type == 'flw'}"  th:text="#{유량표}"></h2>

            <div class="divTable minimalistBlack">
                <div class="divTableHeading">
                    <div class="divTableRow">
                        <div th:text="#{연번}" class="divTableHead"></div>
                        <div th:text="#{관측소 명}" class="divTableHead"></div>
                        <div th:text="#{관측소 코드}" class="divTableHead"></div>

                        <div class="divTableHead">
                            <span th:if="*{type == 'rf'}" th:text="#{강수량}"></span>
                            <span th:if="*{type == 'wl'}" th:text="#{수위}"></span>
                            <span th:if="*{type == 'flw'}" th:text="#{유량}"></span>
                            <span class="unit" th:classappend="*{type == 'rf'? 'rf' : ''}
                          +*{type == 'wl'? 'wl': ''}
                          +*{type == 'flw'? 'fw': ''}"></span>
                        </div>

                    </div>
                </div>
                <div class="divTableBody"  th:if="${items != null && !items.isEmpty()}" th:each="item, status : ${items}">

                    <div class="divTableRow observatory" th:data-obscd="${item.obscd}">
                        <div th:text="${status.count}"  class="divTableCell"></div>

                        <div class="divTableCell">
                            <span th:text="${item.obsnm}"></span>
                            <input type="hidden" th:name="${'obsnm' + status.count}" th:value="${item.obsnm}" th:id="*{'obsnm' + status.count}">
                        </div>

                        <div class="divTableCell">
                            <span th:text="${item.obscd}"></span>
                            <input type="hidden" th:name="${'obscd_' + status.count}" th:value="${item.obscd}" th:id="*{'obscd_' + status.count}">
                        </div>

                        <div class="divTableCell">
                            <span th:if="${item.type == 'rf'}" th:text="${item.rf}"></span>
                            <span th:if="${item.type == 'wl'}" th:text="${item.wl}"></span>
                            <span th:if="${item.type == 'flw'}" th:text="${item.fw}"></span>

                            <input type="hidden" th:name="${'obscd_' + status.count}" th:value="${item.obscd}" class="obscd">
                        </div>
                    </div>
                    <th:block th:unless="*{items != null && !items.isEmpty()}" th:text="#{데이터_없음}"></th:block>
                </div>
            </div>
            <th:block th:replace="~{common/_pagination::pagination}"></th:block>
        </div>
    </div>
</main>
</html>