.edit{
    margin: 20px 10px;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 30px;
}

.cell{
    width: 100px;
    text-align: center;

}
hr{
    margin: 10px;
}

.btns{
    width: 100%;
    height: 30px;
    justify-content: center;
}