.observatory{
    border: 1px solid #222;
    border-radius: 5px;
    height: 40px;
}

.observatory div{
    padding: 0 15px;
    line-height: 40px;
}

.observatory span{
    line-height: 40px;
}

.observatoryForm{
    padding: 15px;
    border: 1px solid #222;
    border-radius: 5px;
}

.observatoryForm div+div{
    margin-top: 10px;
}

.saveBtn{
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    padding: 0 15px;
    height: 30px;
    float: right;
}


/* 알약버튼 */
label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid #808080;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type="checkbox"]:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}


[type="checkbox"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid var(--main-color);
}

[type="checkbox"]:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) #d3d3d3;
}

#outlier:read-only{
    border: 1px solid #808080;
    border-radius: 3px;
}