.content{
    padding: 10px 20px;
}

.title button{
    cursor: pointer;
    height: 30px;
    background: #fff;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 3px;
    padding: 0 10px;
}
.title button:hover{
    background: var(--main-color);
    color: #fff;

}

.observatory{
    border: 1px solid #222;
    border-radius: 5px;
    height: 40px;
}

.observatory div{
    padding: 0 15px;
    line-height: 40px;
}

.observatory span{
    line-height: 40px;
}

.observatoryForm{
    padding: 15px;
    border: 1px solid #222;
    border-radius: 5px;
}

.observatoryForm div+div{
    margin-top: 10px;
}

.saveBtn{
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    padding: 0 15px;
    height: 30px;
    float: right;
}

.observationSearch{
    clear: both;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 15px;
}

.fa.fa-search{
    border: 1px solid var(--main-color);
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background: var(--main-color);
    color: #fff;
    text-align: center;
    line-height: 27px;
    margin: 0 20px;
}

.searchTxt{
    border-bottom: 1px solid #222;
    padding-bottom: 10px;
}

.obsForm{
    padding-top: 10px;
}

.obsForm span{
    padding: 0 10px;
}

.searchBtn{
    background: var(--main-color);
    color: #fff;
    padding: 5px 10px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
}
