.searchBtn {
    background-color: #000;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.searchBtn i {
    color: #fff;
}

.pagination>div {
    width: 300px;
    display: flex;
    justify-content: space-between;
}


