main {
    padding: 20px 20px 0;
}

.pagination>div {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.observatory_box h1 {
    padding: 10px 20px;
    font-size: 30px;
    font-weight : bold;
}

.observatory_box{
    border: 1px solid #222;
    border-radius: 5px;
    height: flex;
    padding: 10px 20px;
    margin: 20px 30px;
}
.submitBtn {
    margin: 10px;
    float: right;
}
.submitBtn a{
    background: var(--main-color);
    color: #fff;
    padding: 5px 10px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
}

.form_box dl {
    display: flex; margin-bottom: 10px;
}

.form_box dt {
    width: 90px;
}

.form_box dd {
    width: 270px;
    }

.form_box dd input {
    font-size: 11px;
    width: 220px;
}
.searchBtn {
    float: right;
}
.searchBtn i {
    margin-right: 3px;
}
.search>div{
    justify-content: space-between;
}