.searchIcon {
    background-color: #000;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.searchIcon i {
    color: #fff;
}

.searchBtn button{
    width: 40px;
    height: 20px;
    border: 2px solid;
    background-color: var(--font-color);
}

.pagination>div {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.observatory_box h1 {
    padding: 10px 20px;
    font-size: 30px;
    font-weight : bold;
}

.observatory_box{
    border: 1px solid #222;
    border-radius: 5px;
    height: flex;
    padding: 10px 20px;
    margin: 20px 30px;
}

.listbtn{
    float: right;
    position: relative;
    top: 50px
    width: 50px;
    height: 20px;
    border: 2px solid;
    background-color: var(--font-color);
    text-align: center;
}
.submitBtn a{
    float: right;
    width: 40px;
    height: 20px;
    border: 2px solid;
    background-color: var(--font-color);
}

.box{
    padding: 10px 20px;
}

.submitBtn {
    text-align: center;
}
.submitBtn button{

    width: 40px;
    height: 20px;
    border: 2px solid;
    background-color: var(--font-color);
}

.form_box dl {
    display: flex; margin-bottom: 10px;
}

.form_box dt {
    width: 90px;
}

.form_box dd {
    width: 270px;
    }

.form_box dd input {
    font-size: 11px;
    width: 220px;
}
