<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/popup}">
<main layout:fragment="content">
    <section th:object="${observatory}">
        <h2 class="text-center" th:text="*{obsnm}"></h2>
        <div class="h-line"></div>
        <div></div>
        <div class="divTable minimalistBlackPopup mgn-10px">
            <div class="divTableRowPopup">
                <div class="divTableCellPopup box-bgc" th:text="#{코드}"></div>
                <div class="divTableCellPopup" th:text="*{obscd}"></div>
            </div>
            <div class="divTableRowPopup">
                <div class="divTableCellPopup box-bgc" th:text="#{현재수위}"></div>
                <div class="divTableCellPopup" id="wl_current"></div>
            </div>
            <div class="divTableRowPopup">
                <div class="divTableCellPopup box-bgc" th:text="#{수위변화}"></div>
                <div class="divTableCellPopup" id="wl_change"></div>
            </div>
            <div class="divTableRowPopup">
                <div class="divTableCellPopup box-bgc" th:text="#{위치}"></div>
                <div class="divTableCellPopup" th:text="*{addr + ' ' + etcaddr}"></div>
            </div>
        </div>
    </section>

    <script>
        const obscd = "[[${observatory.obscd}]]";
        const _eDate = new Date();
        const _sDate = new Date();
        _sDate.setDate(_sDate.getDate() - 1);

        const sdate = `${_sDate.getFullYear()}${("" + (_sDate.getMonth() + 1)).padStart(2, '0')}${("" + _sDate.getDate()).padStart(2, '0')}`;
        const edate = `${_eDate.getFullYear()}${("" + (_eDate.getMonth() + 1)).padStart(2, '0')}${("" + _eDate.getDate()).padStart(2, '0')}`;

        const search = {
            obscd,
            type: "wl",
            unit: "1D",
            sdate,
            edate
        };
        api.getData(search)
            .then(statData => {
                const values = Object.values(statData)[0];
                const data = [];
                for (const [k, v] of Object.entries(values)) {
                    if (k.indexOf("wl_") != -1) {
                        data.push(v);
                    }
                }

                const gap = data.length == 2 ? (data[1] - data[0]).toFixed(2) : 0;
                const current = data.length > 0 ? data.pop() : 0;

                const changeEl = document.getElementById("wl_change");
                const currentEl = document.getElementById("wl_current");
                changeEl.innerHTML = `${gap} m`;
                currentEl.innerHTML = `${current} m`;
            })
            .catch(err => console.error(err));
    </script>
</main>
</html>