<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/popup}">
<main layout:fragment="content">
    <form class="searchFrm mgn-bottom-10px" th:object="${observatorySearch}">
        <div class="flex align-center mgn-bottom-10px">
            <input type="text" class="searchInp" th:placeholder="#{관측소명_입력}" name="obsnm">
            <button type="submit" class="searchBtn">
                <i class="xi-search"></i>
            </button>
        </div>
        <div class="just-btw flex mgn-bottom-10px align-center">
            <div class="targetNm">
                <span th:if="${observatorySearch.type == 'rf'}" th:text="#{강수량}"></span>
                <span th:if="${observatorySearch.type == 'wl'}" th:text="#{수위}"></span>
                <span th:if="${observatorySearch.type == 'flw'}" th:text="#{유량}"></span>
                <span th:if="${observatorySearch.type == 'cctv'}" th:text="#{CCTV}"></span>
                <span th:unless="${observatorySearch.type == 'cctv'}" th:text="#{관측소}"></span>
                <span th:unless="${observatorySearch.type == 'cctv'}" th:text="#{관측소}"></span>
            </div>
            <select class="order" name="order" th:field="*{order}">
                <option value="rf" th:if="${observatorySearch.type == 'rf'}" th:text="#{강수량}" selected></option>
                <option value="flw" th:if="${observatorySearch.type == 'flw'}" th:text="#{유량}" selected></option>
                <option value="cctv" th:if="${observatorySearch.type == 'cctv'}" th:text="#{상태}" selected></option>
                <th:block th:if="${observatorySearch.type == 'wl'}">
                    <option value="wl"  th:text="#{수위}" selected></option>
                    <option value="upstream" th:text="#{상류}"></option>
                    <option value="downstream" th:text="#{하류}"></option>
                </th:block>
                <option value="obsnm" th:text="#{관측소명}"></option>
            </select>
        </div>
    </form>
    <div class="divTable minimalistBlack mgn-bottom-10px">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead" th:if="${observatorySearch.type == 'cctv'}" th:text="#{지점명}"></div>
                <div class="divTableHead" th:unless="${observatorySearch.type == 'cctv'}" th:text="#{관측소명}"></div>
                <div class="divTableHead" th:if="${observatorySearch.type == 'cctv'}" th:text="#{상태}"></div>
                <div class="divTableHead" th:unless="${observatorySearch.type == 'cctv'}" th:text="#{실시간_관측값}"></div>
            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow" th:if="${items != null && !items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
                <div class="divTableCell" th:text="*{obsnm}"></div>
                <div class="divTableCell data" th:classappend="*{ (type != 'wl' && data >= outlier) or (type == 'wl' && @utils.isOutlier(data, wrnwl))} ? 'on'">
                    <span th:if="${observatorySearch.type == 'rf'}" th:text="*{rf}"></span>
                    <span th:if="${observatorySearch.type == 'wl'}" th:text="*{wl}"></span>
                    <span th:if="${observatorySearch.type == 'flw'}" th:text="*{fw}"></span>
                    <span th:if="${observatorySearch.type == 'cctv'}" th:text="#{정상}"></span>
                    <span class="unit" th:classappend="${observatorySearch.type == 'rf'? 'rf' : ''}
                          +${observatorySearch.type == 'wl'? 'wl': ''}
                          +${observatorySearch.type == 'flw'? 'fw': ''}"></span>
                </div>
            </div>
            <div class="divTableRow" th:unless="${items != null && !items.isEmpty()}">
                <div class="divTableCell" th:text="#{데이터_없음}"></div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
    <textarea th:text="${json}" class="dn" id="jsonData"></textarea>

    <script>
        const el = document.getElementById("jsonData");
        if (el && el.value.trim()) {
            const items = JSON.parse(el.value.trim());

            parent.postMessage({map: items}, "*");
        }
    </script>

</main>
</html>
