<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{front/layouts/main}">
<th:block layout:fragment="addScript">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</th:block>
<main layout:fragment="content">
	<div class="flex content">
		<div class="side flex no-print">
			<section class="asideBtns">
				<a th:href="@{/map/search/wl}" target="frmSide">
					<button class="font-15px" type="button">
						<br />
						<span th:text="#{수위}"></span>
					</button>
				</a>
				<a th:href="@{/map/search/rf}" target="frmSide">
					<button class="font-15px" type="button">
						<i class="xi-pouring"></i><br />
						<span th:text="#{강수량}"></span>
					</button>
				</a>
				<a th:href="@{/map/search/flw}" target="frmSide">
					<button class="font-15px" type="button">
						<br />
						<span th:text="#{유량}"></span>
					</button>
				</a>
				<a th:href="@{/map/search/cctv}" target="frmSide">
					<button class="font-15px" type="button" data-target="cctv">
						<i class="xi-videocam"></i><br />
						<span th:text="#{CCTV}"></span>
					</button>
				</a>
			</section>

			<section class="flex align-center aside-area no-print">
				<div class="aside dn">
					<iframe name="frmSide" th:src="@{/map/search/wl}" class="aside_content"></iframe>
				</div>
				<div>
					<button type="button" class="angleBtn">
						<i class="xi-angle-right-thin"></i>

					</button>
				</div>
			</section>
		</div>
		<section class="map_area">
			<div class="map_btns flex-column no-print">
				<div class="mgn-bottom-10px">
					<button type="button" class="map_btn on" data-map="Base" th:text="#{일반지도}"></button>
					<button type="button" class="map_btn" data-map="Satellite" th:text="#{위성지도}"></button>
				</div>
				<button type="button" id="all" class="align-right mgn-bottom-10px wd-50px ht-50px">
					<span th:text="#{전체}"></span>
				</button>
				<div class="flex-column mgn-bottom-10px">
					<button type="button" class="wd-50px ht-50px align-right" id="distance">
						<span th:text="#{거리}"></span>
					</button>
					<button type="button" class="wd-50px ht-50px align-right" id="area">
						<span th:text="#{면적}"></span>
					</button>
				</div>

				<button type="button" id="save_map" class="align-right mgn-bottom-10px wd-50px ht-50px">
					<i class="xi-save"></i>
					<span th:text="#{저장}"></span>
				</button>
				<div id="save_map_box" class="flex-column mgn-bottom-10px dn">
					<button type="button" id="save_map_png" class="wd-110px ht-35px align-right">
						<span th:text="#{이미지 저장}"></span>
					</button>
					<button type="button" id="save_map_pdf" class="wd-110px ht-35px align-right">
						<span th:text="#{PDF 저장}"></span>
					</button>
				</div>

			</div>
			<div id="map" class="map"></div>
		</section>
	</div>

<!--	<script>-->
<!--		const { popup } = commonLib;-->
<!--        const infoBtn = document.getElementById("popup");-->
<!--        &lt;!&ndash;infoBtn.onclick = () => popup.open('/map/info', 450, 450);&ndash;&gt;-->
<!--	</script>-->
</main>
</html>