<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="common">
        <div class="headerWrap">
         	<!-- 메인 로고 부분-->
            <div class="logo">
                <a th:href="@{/}">
                    <span>실시간수문정보관리시스템</span>
                </a>
            </div>
            <!-- 버튼 클릭 영역 -->
            <div>
            	<a th:href="@{/map}" th:text=#{지도}></a>
            	<a th:href="@{/list}" th:text=#{목록}></a>
            	<a th:href="@{/dashboard}"th:text=#{대시보드}></a>
            </div>
            <!-- 시간남으면 로그인 추가 -->
        </div>
    </header>
</html>