<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="common" class="header">
        <div class="headerWrap flex">
         	<!-- 메인 로고 부분-->
            <div class="logo">
                <a th:href="@{/}">
                    <span>실시간수문정보관리시스템</span>
                </a>
            </div>
            <!-- 버튼 클릭 영역 -->
            <div class="page-link flex align-center">
                <button type="button" data-url="/map" th:text="#{지도}"></button>
                <button type="button" data-url="/list" th:text="#{목록}"></button>
                <button type="button" data-url="/dashboard/rf" th:text="#{대시보드}"></button>
            </div>
            <div class="dashboardBtns dn flex align-center">
                <button type="button" th:text="#{강수량}" data-type="rf"></button>
                <button type="button" th:text="#{수위}" data-type="wl"></button>
                <button type="button" th:text="#{유량}" data-type="flw"></button>
            </div>
            <!-- 시간남으면 로그인 추가 -->
        </div>
    </header>
</html>