main {
    padding: 20px 20px 0;
}
.chart {
    margin-left: 10px;
    margin-right: 10px;
    width: 70%;
    min-height: 550px;
    border: 1px solid #222;
    border-radius: 5px;
}

.dashboardBtns{
    margin-left: 10px;
}

.dashboardBtns button {
    color: #fff;
    font-weight: 700;
    height: 30px;
    width: 80px;
}

.dashboardBtns button.on, .dashboardBtns button:hover{
    border-bottom: 2px solid #fff;
}

.observatory{
    cursor: pointer;
}

.radio {
    padding: 15px;
}

/* 테이블 스타일 */
.minimalistBlack {
    border: none;
    border-top: 1px solid;
    text-align: center;
    width: 100%;
    min-height: 500px;
}
.divTable.minimalistBlack .divTableHeading, .divTable.minimalistBlack .divTableHead, .divTable.minimalistBlack .divTableCell {
    border: none;
}
.divTable.minimalistBlack .divTableHeading div.divTableHead {
    text-align: center;
}
.dashList {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    min-height: 550px;
    margin-right: 10px;
}


.divTableCell {
    border-bottom: 1px solid;
}

.search>div:nth-child(2) {
    padding: 20px 0 0 20px;
}
.search>div:nth-child(2) button {
    float: right;
}
.saveBtn {
    background: var(--main-color);
    color: #fff;
    padding: 5px 10px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
}
.saveBtn i, .searchTxt i {
    margin-right: 3px;
}
.searchTxt {
    justify-content: space-between;
}