.dn {
	display: none;
}

/* 팝업 공통 S */
#layer_dim { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.7); cursor: pointer; }
#layer_popup { position: fixed; z-index: 101; background: #fff; border-radius: 5px; overflow: hidden; }
#layer_popup iframe { border: 0; }
/* 팝업 공통 E */