:root{
    --main-color: #191D31;
    --font-color: #D9D9DD;
}

/* css 초기화 코드 S */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/* css 초기화 코드 E */

.dn {
	display: none;
}

.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-flow: column;
}
.flt-right{
    float: right;
}

.align-center{
    align-items: center;
}

.font-18px{
    font-size: 18px;
    font-weight: 500;
}
.font-15px{
    font-size: 15px;
    font-weight: 500;
}

/* 팝업 공통 S */
#layer_dim { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.7); cursor: pointer; }
#layer_popup { position: fixed; z-index: 101; background: #fff; border-radius: 5px; overflow: hidden; }
#layer_popup iframe { border: 0; }
/* 팝업 공통 E */

/* 가로선 */
.h-line{
    width: 100%;
    margin: 15px;
    border-bottom: 2px solid #222;
}

/* 글자 가운데정렬 */
.text-center{
    width: 100%;
    text-align: center;
}

.pst-abs{
    position: absolute;
}


/* width, height */
.wd-50px{
    width: 50px;
}

.ht-50px{
    height: 50px;
}
.mgn-bottom-10px{
    margin-bottom: 10px;
}


