<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/popup}">
<main layout:fragment="content">
    <!-- 관측소 삭제 정보 -->
    <div class="popupHeader">
        <div class="popupHTitle" th:text="#{관측소 삭제}"></div>
    </div>
    <div class="popupBody" th:object="${observatory}">
        <button type="submit" th:text="#{확인}"></button>
        <button type="submit" th:text="#{취소}"></button>
    </div>
</main>
</html>