<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section class="content">
        <div class="flex just-btw title align-center">
            <button type="button" id="listBtn">
                <i class="xi-list"></i>
                <span th:text="#{목록}"></span>
            </button>
        </div>
        <!-- 관측소 정보 -->
        <div th:object="${requestObservatory}">

            <div class="observatory flex mgn-bottom-10px">
                <div>
                    <span th:text="#{관측소명}"></span>
                    :
                    <span th:text="*{obsnm}"></span>
                </div>
                <span>|</span>
                <div>
                    <span th:text="#{관측유형}"></span>
                    :
                    <span th:text="#{*{type}}"></span>
                </div>
            </div>
        </div>
        <!-- 관측소 데이터 검색 -->
        <div class="search mgn-bottom-10px">
            <div class="flex align-center searchTxt">
                <div class="searchIcon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <div>검색</div>
            </div>
            <form th:object="${observationSearch}" name="frmSearch" class="flex align-center obsForm">
                <input type="hidden" name="type" th:value="${requestObservatory.type}">
                <input type="hidden" name="obscd" th:value="${requestObservatory.obscd}">
                <!--                <input type="hidden" name="timeUnit" th:value="${requestObservationData.timeUnit}">-->

                <div class="grw-1">
                    <span th:text="#{조회기간}"></span>
                    <input type="date" name="sdate" th:field="*{sdate}">
                    ~
                    <input type="date" name="edate" th:field="*{edate}">

                    <select name="timeUnit" id="timeUnit" th:field="*{timeUnit}">
                        <option value="10M" th:text="#{10분}"></option>
                        <option value="1H" th:text="#{1시간}"></option>
                        <option value="1D" th:text="#{일}"></option>
                        <option value="MONTH" th:text="#{월}"></option>
                        <option value="YEAR" th:text="#{년}"></option>
                    </select>
                </div>
                <button type="submit" class="searchBtn" th:text="#{검색}"></button>
            </form>
        </div>

        <div class="divTable minimalistBlack">
            <table id="statDataTable">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <th:block th:replace="~{common/_pagination::pagination}"></th:block>
    </section>

</main>
</html>
