<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section class="content_list">
        <div class="flex just-btw title align-center">
            <h2>관측정보</h2>
            <button type="button" id="listBtn">
                <i class="xi-list"></i>
                <span th:text="#{목록}"></span>
            </button>
        </div>
        <!-- 관측소 정보 -->
        <div th:object="${requestObservatory}">

            <div class="observatory flex mgn-bottom-10px">
                <div>
                    <span th:text="#{관측소명}"></span>
                    :
                    <span th:text="*{obsnm}"></span>
                </div>
                <span>|</span>
                <div>
                    <span th:text="#{관측유형}"></span>
                    :
                    <span th:text="#{*{type}}"></span>
                </div>
            </div>
        </div>
        <!-- 관측소 데이터 검색 -->
        <div class="search mgn-bottom-10px">
            <div class="flex align-center just-btw mgn-bottom-10px">
                <div class="flex align-center searchTxt">
                    <div class="searchIcon"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <div>검색</div>
                </div>
                <div class="flex align-center searchClose">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <div th:text="닫기"></div>
                </div>
            </div>
            <form th:object="${observationSearch}" name="frmSearch" class="bdr-top flex align-center obsForm searchEl">
                <input type="hidden" name="type" th:value="${requestObservatory.type}">
                <input type="hidden" name="obscd" th:value="${requestObservatory.obscd}">
                <!--                <input type="hidden" name="timeUnit" th:value="${requestObservationData.timeUnit}">-->

                <div class="grw-1">
                    <span th:text="#{조회기간}"></span>
                    <span class="exceptYear">
                        <input type="date" name="sdate" th:field="*{sdate}">
                        ~
                        <input type="date" name="edate" th:field="*{edate}">
                    </span>
                    <span class="onlyYear">
                        <select name="startYear" id="startYear" th:field="*{sdate}">
                        </select>
                        ~
                        <select name="endYear" id="endYear" th:field="*{edate}">
                        </select>
                    </span>
                    <select name="timeUnit" id="timeUnit" th:field="*{timeUnit}">
                        <option value="10M" th:text="#{10분}"></option>
                        <option value="1H" th:text="#{1시간}"></option>
                        <option value="1D" th:text="#{일}"></option>
                        <option value="MONTH" th:text="#{월}"></option>
                        <option value="YEAR" th:text="#{년}"></option>
                    </select>
                </div>
                <button type="submit" class="searchBtn" th:text="#{검색}"></button>
            </form>
        </div>
        <div>
            <div class="flex align-center btns">
                <button type="button" class="excelBtn mgn-bottom-10px" id="excelDownload">
                    <i class="fa fa-download"></i><span th:text="저장"></span>
                </button>
            </div>
            <div class="info-list-wrap">
                <div class="divTable minimalistBlack" id="data">
                    <div class="divTableHeading">
                    </div>

                    <div class="divTableBody">
                    </div>
                </div>
            </div>
            <ul class="pagination" id="pagination"></ul>
        </div>
    </section>


</main>
</html>
