<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section class="content">
        <div class="flex just-btw title align-center">
            <h2 th:text="#{환경설정}"></h2>
            <button type="button" id="listBtn">
                <i class="xi-list"></i>
                <span th:text="#{목록}"></span>
            </button>
        </div>

        <!-- 관측소 정보 -->
        <div th:object="${requestObservatory}">

            <div class="observatory flex mgn-bottom-10px">
                <div>
                    <span th:text="#{관측소명}"></span>
                    :
                    <span th:text="*{obsnm}"></span>
                </div>
                <span>|</span>
                <div>
                    <span th:text="#{관측유형}"></span>
                    :
                    <span th:if="*{type == 'rf'}" th:text="#{강수량}"></span>
                    <span th:if="*{type == 'wl'}" th:text="#{수위}"></span>
                    <span th:if="*{type == 'flw'}" th:text="#{유량}"></span>
                </div>
            </div>
            <form th:action="@{/list/setting/save}" method="post" th:object="${requestObservatory}" target="ifrmProcess" autocomplete="off" id="editForm">
                <div class="observatoryForm mgn-bottom-10px">
                    <input type="hidden" name="obscd" th:value="*{obscd}">
                    <input type="hidden" id="type" name="type" th:value="*{type}">
                    <div>
                        <span th:text="#{사용여부}"></span>
                        <input type="checkbox" name="useOutlier" id="useOutlier" th:field="*{useOutlier}">
                        <label for="useOutlier"></label>
                    </div>
                    <div>
                        <span th:text="#{이상치_기준_설정}"></span>
                        <th:block th:unless="*{type == 'wl'}">
                            <input type="text" class="onlyNum" name="outlier" th:field="*{outlier}" data-form="editForm">
                        </th:block>
                        <th:block th:if="*{type == 'wl'}">
                            <input type="text" class="onlyNum" name="outlier" th:field="*{wrnwl}" data-form="editForm">
                        </th:block>
                    </div>
                </div>
                <button type="submit" class="saveBtn mgn-bottom-10px" th:text="#{저장}"></button>
            </form>
        </div>
        <!-- 관측소 데이터 검색 -->
        <div class="search mgn-bottom-10px">
            <div class="flex align-center just-btw searchTxt">
                <div class="flex">
                    <div class="searchIcon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <div>검색</div>
                </div>
                <div class="flex align-center searchClose">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <div th:text="닫기"></div>
                </div>
            </div>
            <form th:object="${observationSearch}" class="searchEl bdr-top flex align-center obsForm">
                <input type="hidden" name="type" th:value="${requestObservatory.type}">
                <input type="hidden" name="obscd" th:value="${requestObservatory.obscd}">
                <input type="hidden" name="outlier" th:value="${requestObservatory.outlier}">


                <div class="grw-1">
                    <span th:text="#{조회기간}"></span>
                    <input type="date" name="sdate" th:field="*{sdate}">
                    <input type="date" name="edate" th:field="*{edate}">
                </div>
                <button type="submit" class="searchBtn" th:text="#{검색}"></button>
            </form>
        </div>
        <div class="divTable minimalistBlack">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead" th:text="#{연번}"></div>
                    <div class="divTableHead" th:text="#{날짜}"></div>
                    <div class="divTableHead">
                        <span th:text="#{이상치}"></span>
                        <span class="unit" th:classappend="${requestObservatory.type == 'rf'? 'rf' : ''}
                          +${requestObservatory.type == 'wl'? 'wl': ''}
                          +${requestObservatory.type == 'flw'? 'fw': ''}"></span>
                    </div>
                    <div class="divTableHead" th:text="#{수정}"></div>
                    <div class="divTableHead" th:text="#{삭제}"></div>
                </div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" th:if="${items != null && !items.isEmpty()}" th:each="item, status : ${items}" th:object="${item}">
                    <input type="hidden" name="seq" th:id="${'seq_' + status.count}" th:value="*{seq}">
                    <div class="divTableCell" th:text="${status.count}"></div>
                    <div class="divTableCell date" th:text="*{ymdhm}"></div>
                    <div class="divTableCell" th:if="${requestObservatory.type == 'rf'}">
                        <span th:text="*{rf}"></span>
                    </div>
                    <div class="divTableCell" th:if="${requestObservatory.type == 'wl'}" >
                        <span th:text="*{wl}"></span>
                    </div>
                    <div class="divTableCell" th:if="${requestObservatory.type == 'flw'}">
                        <span th:text="*{fw}"></span>
                    </div>
                    <div class="divTableCell">
                        <!-- 수정 버튼 -->
                        <button type="button" class="editBtn" th:data-seq-id="${'seq_' + status.count}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="divTableCell">
                        <!-- 삭제 버튼 -->
                        <button type="button" class="deleteBtn" th:data-seq-id="${'seq_' + status.count}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div th:unless="${items != null && !items.isEmpty()}">
                    <div th:text="#{데이터_없음}"></div>
                </div>
            </div>
        </div>
        <form id="submitFrm">
            <input type="hidden" name="type" th:value="${requestObservatory.type}">
        </form>
        <th:block th:replace="~{common/_pagination::pagination}"></th:block>
    </section>
</main>
</html>