<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" >
    <div class="observatory_box">
        <h1>관측소 정보 등록</h1>
        <div class="listbtn">
            <a th:href="@{/list}"  class="btn" ><i class="xi-list"></i>목록</a>
        </div>
        <br>
        <br>
        <hr>

        <div class="box">
            <form name="frmList" method="post" th:action="@{/list/save}" autocomplete="off">
                <input type="hidden" name="mode" value="write">
                <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

                <th:block th:replace="~{front/list/_form::form}"></th:block>
                <br>
                <div class="submitBtn">
                    <button type="submit" th:text="#{등록}"></button>
                </div>
            </form>
        </div>
    </div>
</main>
</html>