
.content{
    height: 100%;
}

/* header */
.header{
    height: 100px;
    background: var(--main-color);
}
.header a span{
    color: #fff;
}

.header div{
    height: 100%;
}

.logo{
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.page-link button{
    cursor: pointer;
    color: #fff;
    background: #293051;
    height: 30px;
    text-align: center;
    border: 1px solid var(--main-color);
    padding: 0 10px;
    font-weight: 700;
}

.page-link button.on, .page-link button:hover{
    background: #fff;
    color: #293051;
}

.searchClose{
    cursor: pointer;
}